################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/x64/Release/MapDetection.csproj.FileListAbsolute.txt
